<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Endereço do Chá</h3>
									<address class="map">Romana Dmowskiego 1B/29, Wroclaw</address>
									<address class="mail"><a href="mailto:ludmila_garcia@ymail.com">ludmila_garcia@ymail.com</a></address>
									<address class="phone">500 682 794</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Nas Redes Sociais</h3>
									<p class="social">Entre em contato</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Instagram</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>