<footer id="footer">
	<div class="footer-holder">
		<div class="footer-frame">
			<div class="footer-content">
				<div class="col-holder">
					<div class="col_wrap">
						<div class="col">
							<h3>Endereço do Chá</h3>
							<address class="map">Romana Dmowskiego 1B/29, Wroclaw</address>
							<address class="mail"><a href="mailto:ludmila_garcia@ymail.com">ludmila_garcia@ymail.com</a></address>
							<address class="phone">500 682 794</address>
						</div>
					</div>
					<div class="col_wrap">
						<div class="col">
							<h3>Nas Redes Sociais</h3>
							<p class="social">Entre em contato</p>
							<ul class="social">
								<li><a class="facebook" target="_blank" href="https://www.facebook.com/events/941520729381552/?notif_t=plan_user_joined&notif_id=1534789196763729">Facebook</a></li>
								<li><a class="google" href="https://www.instagram.com/ludmila_garcia_/" target="_blank">Instagram</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>