<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/">Chá do Rique</a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<%if (loggedIn) { %>
							<li>
								Olá, <%= user.displayName %>
								<img src="<%= user.picture %>" alt="" class="img-rounded"/>
							</li>
							<li>
								<a href="/logout">Sair</a>
							</li>
							<li>
								<a href="/presentes">Presentinhos</a>
							</li>
							<% } else { %>
							<li><a href="/login">Entrar</a></li>
							<li>
								<a href="/presentes">Presentinhos</a>
							</li>
							<% } %>
						</ul>
					</nav>
				</div>
			</header>