<header id="header">
				<div class="left-part"></div>
				<a id="logo" href="/">Chá de Fraldas do Rique</a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#">menu</a>
					<nav id="nav">
						<ul>
							<%if (res.locals.user) { %>
							<li><%= res.locals.user %></li>
							<% } else { %>
							<li><a href="/entrar">Entrar</a></li>
							<% } %>
						</ul>
					</nav>
				</div>
			</header>