<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<% include ../partials/head %>

<body>
	<div id="wrapper" class="about">
		<div class="wrapper-holder">
			<% include ../partials/nav %>
			<div class="dvdr"></div>
			<div class="container">
				<section id="main">
					<h1>Lista de Presentes - opcionais.</h1>
					<div class="presentes">
						<ul>
							<div class="li">
								<li>Macacão tam. P 0 a 3meses</li>
								<li>Macacão grosso tam. P 0 a 3meses</li>
								<li>Macacão grosso tam. M 3 a 6meses</li>
								<li>Mijão (calça) grosso tam. P 0 a 3meses</li>
								<li>Mijão (calça) grosso tam. M 3 a 6meses</li>
								<li>Casaco de frio tamanho 74</li>
								<li>Jaqueta de moletom tamanho P 0 a 3meses</li>
								<li>Jaqueta de moletom tamanho M 3 a 6meses</li>
								<li>Macacão de frio tipo skimó tamanho 62</li>
								<li>Macacão de frio tipo skimó tamanho 74</li>
								<li>Meia de 0 a 6meses</li>
								<li>Luvas de algodão de 0 a 6meses</li>
								<li>Toalha de banho com capuz</li>
								<li>Termômetro de ouvido</li>
								<li>Sulgador de secreção</li>
								<li>Móbile de berço</li>
								<li>Baba eletrônica</li>
								<li>Tapetinho de atividades</li>
								<li>Sling para recém-nascidos</li>
								<li>Brinquedinhos</li>
							</div>
						</ul>
					
					</div>
				</section>
			</div>
		</div>
		<div class="top-blue-border"></div>
		<% include ../partials/footer %>	
	</div>
	
	<% include ../partials/scripts %>
</body>
</html>