<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
</head>
<body>
    <h2>Seja bem-ving, <%= user.displayName %></h2>
    <img src="<%= user.picture %>" alt="">
    <p><%= userProfile %></p>
    <h1><%= userProfile['displayName'] %></h1>
</body>
</html>